{% extends 'base.html' %}

{% block content %}

<div class="user-filter">
    <p style="font-size: 1.4em;text-decoration-line: underline;">Company</p>
    <form id="company-filter-form" style="font-size: 1.15em;">
        {% for company in companies %}
        <input type="checkbox" id="company-{{ company }}" name="company" value="{{ company }}">
        <label for="company-{{ company }}">{{ company }}</label><br>
        {% endfor %}
    </form> <br>
    <a is="addEmployee-link" class="edit-link" onclick="#">Add Employee</a>
</div>


<div class="grid-container">
    {% for user in users %}
    <div class="grid-item" onclick="showDetails({{ user.id }}, this);">
      {% if user.photo %}
      <img src="data:image/jpeg;base64,{{ user.photo|b64encode }}" alt="User Photo" width="100">
        {% else %}
          <img src="{{ url_for('static', filename='images/noProfile.jpg') }}" alt="No Profile Picture" width="100">
        {% endif %}
        <div class="employee-info">
            <p class="employee-name">{{ user.fname }} {{ user.lname }}</p>
            <p class="employee-company">{{ user.company }}</p>
        </div>
        <div class="employee-color" style="background-color: {{ user.color }};"></div>
    </div>
    {% endfor %}
</div>

<div id="user-details" class="user-details">
    <div class="employee-color-detail" id="details-color"></div>
    <div class="content">
        <span class="close-btn" onclick="closeDetails();">&times;</span>
        <img id="details-photo" src="/static/images/noProfile.jpg" alt="User Photo" width="150">
        <h3 id="details-name"></h3>
        <p id="details-company"></p>
        <p style="font-weight: bold;">Address:</p>
        <p id="details-address"></p>
        <p id="details-city"></p>
        <p id="details-county"></p>
    </div>
    <a class="edit-link" onclick="showEditModal()">Edit</a>
    <a class="delete-link" onclick="confirmDelete();">Delete</a>
</div>

<div id="edit-employee-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <form id="edit-employee-form" enctype="multipart/form-data">
            <input type="hidden" id="edit-user-id" name="user_id">
            <label for="edit-fname">First Name:</label>
            <input type="text" id="edit-fname" name="fname"> <br>
            <label for="edit-lname">Last Name:</label>
            <input type="text" id="edit-lname" name="lname"> <br>
            <label for="edit-photo">Upload Photo:</label>
            <input type="file" id="edit-photo" name="photo"> <br>
            <label for="edit-company">Company:</label>
            <select id="edit-company" name="company">
                <option value="Benton">Benton</option>
                <option value="Chanay">Chanay</option>
                <option value="Chemel">Chemel</option>
                <option value="Feltz Printing">Feltz Printing</option>
                <option value="Commercial Press">Commercial Press</option>
            </select> <br>
            <label for="edit-address">Address:</label>
            <input type="text" id="edit-address" name="address"> <br>
            <label for="edit-city">City:</label>
            <input type="text" id="edit-city" name="city"> <br>
            <label for="edit-county">County:</label>
            <input type="text" id="edit-county" name="county"> <br>
            <button type="button" onclick="saveEmployeeChanges()">Save Changes</button>
        </form>
    </div>
</div>

{% endblock %}