<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h2>Reset Password</h2>
            <p>Please enter the reset code sent to your email and choose a new password that meets the security criteria.</p>
            <form action="{{ url_for('reset_password_route') }}" method="POST">
                <div class="form-group">
                    <label for="code">Enter reset code:</label>
                    <input type="text" id="code" name="code" required>
                </div>
                <div class="form-group">
                    <label for="new_password">New Password:</label>
                    <input type="password" id="new_password" name="new_password" required>
                    <p style="font-size: 0.7em; color: #d6d6d6a1;">Password must be at least 8 characters, contain an uppercase letter, a lowercase letter, a number, and a special character.</p>
                </div>
                <button type="submit" class="btn">Reset Password</button>
            </form>
            <button onclick="window.history.back();" class="btn">Back</button>
            {% if messages %}
                {% for message in messages %}
                    <p style="color: {{ 'red' if message[0] == "error" else 'green' }}; font-size: 0.9em; margin: 0;">{{ message[1] }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
